.card h4 {background-color:#0fb89a;color:#FFFFFF;padding:.7rem 0;}
.card li {border-bottom:1px solid #CCCCCC;padding:.4rem 0;font-size:.86rem;}
.card li:last-child {border-bottom:none;}

.card-concept {border:none;}
.card-concept .card-image {margin:0 auto;padding:20px 20px 0 20px;min-height:155px;}
.card-concept img {max-width:100%;max-height:100%;}

.card-pers {border:none;background-color:#F5FCFB;}
.card-pers img {padding:30px;}

.card-steps {border-radius:50%;width:250px;height:250px;padding:20px;display:inline-block;margin-right:-4px;margin-bottom:25px;}
.card-steps .card-body {padding:125px 0 0 0;}

.card-review {border-radius:0px;background-color:#37C3AB;color:#FFFFFF;border:none;}
.card-review .card-body {padding:0.5rem;}

.card-well {background-color:#FCFCFC;border:none;}
.card-well h2 {font-size:1.8rem;}

.card-job {font-style:italic;font-family: Aleo,Georgia,Serif;text-align:center;border-radius:0px;border-color:#ffffff;}

.card-team {border:none;width:50%;display:inline-block;vertical-align:top;padding:10px;margin-right:-4px;}
.card-team img {border-radius:50%;margin-bottom:5px;}
.card-team .card-body {padding:0;}
.card-team p {margin:0;font-size:.8rem;}

.card-history {border:none;position:relative;}
.card-history .date {background-color:#4b4b4b;border-radius:50%;color:#FFFFFF;height:64px;width:64px;font-size:.75rem;text-align:center;line-height:.9rem;padding-top:8px;position:absolute;top:0;left:calc(50% - 32px);}
.card-history .date .day {display:block;}
.card-history .date .month {display:block;text-transform:uppercase;}
.card-history .date .year {display:block;}
.card-history .card-title {font-size:1.2rem;color:#0fb89a;font-family:georgia;font-style:italic;}
.flickity-prev-next-button {top:35%;}


@media (min-width: 34em) {
  .card-columns.reviews {-webkit-column-count:1;-moz-column-count:1;column-count:1;}
  .card-team {width:50%;}
}
@media (min-width: 48em) {
  .card-columns.reviews {-webkit-column-count:2;-moz-column-count:2;column-count:1;}
  .card-steps {float:left;margin-left:25px;}
  .card-team {width:25%;}
}
@media (min-width: 62em) {
  .card-columns.reviews {-webkit-column-count:2;-moz-column-count:2;column-count:2;}
  .card-team {width:20%;}
}
@media (min-width: 75em) {
  .card-columns.reviews {-webkit-column-count:2;-moz-column-count:2;column-count:2;}
  .card-columns.team {-webkit-column-count:6;-moz-column-count:6;column-count:6;}
  .card-team {width:16.666%;}
}